@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

html{
    height: 100%;

}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

#formulario {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -16%;
    width: 22%;
    height: 60%;
    background-color: white;
    padding: 2%;
}

#formulario ul {
    list-style: none;
    margin-top: 10%;
}

#formulario ul li {
    margin-top: 5%;
}